{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Inicio{% endblock %}
{% block content%}

	<div class="col-xs-12 col-md-6 first-md cuadro_izq">
	   <h1 class="titulo_entrada">Rescate</h1>
		<h2 class="subtit">Etapa uno </h2>
		<hr class="linea">
		<p>
		Rescatamos perros en situacion de peligro y/o abandono. los
		rehabilitamos y los  preparamos para buscarles un hogar.
		</p>
		<img src="{% static 'img/rescate.jpg' %}" alt="perrito">
	</div>

	<div class="col-xs-12 col-md-6 between-xs cuadro_der">
			<img src="{% static 'img/crowfunding.jpg' %}" alt="comida perro">
			<h1 class="titulo_entrada">Crowdfunding</h1>
			<h2 class="subtit">financiamiento </h2>
			<hr class="linea">
			<p>
				sigue nuestras redes sociales para informarte acerca de las
				diversas campañas y actividades que realizamos para obtener 
				financiamiento para seguir ayudando
			</p>    
			<div class="boton">
				campañas
			</div> 
	</div>         

{% endblock %}