{% extends 'base.html' %}
{% block title %}Ajustes {% endblock %}
{% block content %}
  
	<div class="articlebox" style="border:1px green solid;margin-right:20px;padding:10px	">
  <h3>GitHub</h3>
  {% if github_login %}
    <p>Connected as <a href="https://github.com/{{ github_login.extra_data.login }}/" target="_blank">{{ github_login.extra_data.login }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'github' %}">
        {% csrf_token %}
        <button type="submit">Desconectar de GitHub</button>
      </form>
    {% else %}
      <button type="button" disabled>Desconectar de GitHub</button>
      <p style="color: red">Debes <a href="{% url 'password' %}">definir una contraseña</a> para tu cuenta antes de desconectarte de GitHub.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'github' %}">Conectar a GitHub</a>
  {% endif %}
	</div>
	<div  class="articlebox" style="border:1px green solid;padding:10px">
  <h3>Facebook</h3>
  {% if facebook_login %}
    <p>Connected as <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
    {% if can_disconnect %}
      <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
        {% csrf_token %}
        <button type="submit">Desconectar de Facebook</button>
      </form>
    {% else %}
      <button type="button" disabled>Desconectar de Facebook</button>
      <p style="color: red">Debes <a href="{% url 'password' %}">definir una contraseña</a> para tu cuenta antes de desconectarte de Facebook.</p>
    {% endif %}
  {% else %}
    <a href="{% url 'social:begin' 'facebook' %}">Conectar a Facebook</a>
  {% endif %}
	</div>
{% endblock %}