/* probando css formulraio*/

#formulario input,textarea{
    width: 90%;
	right:0px;
	text-align:left;
	display: inline-block;
	height:20px;
	margin:0 auto;
	resize: none;
	border-radius:0px;
	border:1px solid gray;
	padding:5px 5px 5px 5px;
	border-bottom:5px solid green;
}
#formulario textarea {
	height:150px;
}

#formulario .fn {
	text-align:right;
	border-right:0px solid black;
	font-size:16px;
	line-height:30px;
	vertical-align:middle;
}
#formulario div {
	margin:0 auto;
}


#formulario .row {
	margin-top:10px;
}


#formulario{
    margin-top: 20px;
    margin-bottom: 20px;    
    border-radius: 5px;
    text-align: center;
    color: black;
    padding-top: 20px;
	border:1px solid black;
	position:relative;
	margin:0 auto;
}

#enviar {
	width:50%;
	height:35px;
	margin:20px;
	border: 1px solid green;
	color:green;
	background-color:white;
	border-radius:5px;
	
}

.errorlist{
	color:white;
	font-size:12px;
	background-color:red;
	padding:5px 0px 5px 0px;
}


#id_tipovivienda, #id_sexo, #id_tamaño,#id_estado{
	width:94%;

	
}
#id_fecha_nacimiento_month, #id_fecha_nacimiento_day, #id_fecha_nacimiento_year {
	width:30%;
	
}
#id_fecha_nacimiento_day{
	margin: 0px 5px 0px 5px;
}
