/* REVISADO POR DANTE*/
body {
	font-family:Arial;
	margin: 0px;
	padding: 0px;
}
a{
    color: white;
    text-decoration-line:none;     
}
div {
    border: 0px black solid;
	margin:0;
	padding:0;
}

#header-1{
	position:relative;
	background-color:black;
}

#header-1 #logo {
	background-color:black;
	text-align:center;
	border:0px solid green;
	height:100px;
	
}
#header-1 #logo img{
    height: 60px;
	padding:20px;
}

#header-1 #links {
    text-align: center;
    background-color:  #82d6b7; 
    background-color: #82d6b7;
	font-size:14px;
	vertical-align:middle;
	line-height:40px;
	white-space: nowrap;
	overflow: hidden;
}

#header-1 #links a:hover{
	background-color:green;
}

#header-1 #links a{
	display: block;
	
}

#header-1 #sesion{
	background-color:black;
	
	border: 0px dotted limegreen;
	text-align: center;
	font-size:14px;
	height:50px;
	line-height:50px;
	white-space: nowrap;
	overflow: hidden;
	position:relative;	
}

#header-1 #sesion span{
	position:absolute;
	right:10px;
	bottom:-5px;
	color:white;
}


#header-2{
    background-color:#6DCCAA;
	margin-top:0px;
	display:block;
}

#header-3 {
	background-color:#6DCCAA;
	color:white;
	
}

#header-3 .op{
	
	line-height:30px;
	white-space: nowrap;
	vertical-align:middle;
	overflow: hidden;
	text-align:center;
	height:40px;
	padding:5px;
	font-size:14px;
	
}

#header-3 img{
    height: 30px;
}



#footer{
    padding-bottom: 40px;
    font-size: 10px;
}


footer{
	background-color : #E7E7E7;    
    color: black;
    
}

/*ENTRADA INDEX*/
/* estilo de los cuadros*/
.cuadro_izq{
    color:black;
    text-align: right;    
}

.cuadro_izq img{   
    width: 45%;    
}


.cuadro_der{
    color:black;
    text-align: left;
}

.cuadro_der img{    
    width: 45%;    
}
.linea{
    width: 35px;
    color: #71717c;
    height: 1px solid;
}

.cuadro_der hr{
    margin-left: 0px;    
}

.cuadro_izq hr{
    margin-right: 0px;    
}

.boton{
    border: 2px solid black;
    padding: 5px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    width: 70px;
}

.subtit{
    color: #BEBEBE;
    text-transform: uppercase;
    font-size: 13.5px;    
    margin-top: -20px;
}

.titulo_entrada{
    text-transform: uppercase;
    color: black;
}

.principal{
	padding:15px;
	
}

.principal a{
    color: blue;
    text-decoration-line:none;     
}



/* paginas galeria y formulario */

#formulario .fn {
	text-align:right;
	border-right:0px solid black;
	font-size:20px;
}
#formulario div {
	margin:0 auto;
}


#formulario .row {
	margin-top:10px;
}


#formulario{
    margin-top: 20px;
    margin-bottom: 20px;    
    border-radius: 5px;
    text-align: center;
    color: black;
    padding: 20px 0px 20px 0px;
	border:1px solid black;
	position:relative;
	margin:0 auto;
}