{% load staticfiles humanize %}
<!DOCTYPE html>
<HTML lang="es">        
    <head>
		<title>Mis Perris - {% block title %}{% endblock %}</title>
        <meta charset="UTF-8"> 
		<link rel="stylesheet" href="{% static 'css/flexboxgrid.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
		{% block extra_head %}{% endblock %}
    </head>
    <body>
		<div id="principal" class="container">
			<div id ="header-1" >
			<div class="row">
				<div id="logo" class="col-xs-12 col-sm-6 col-md-5 col-lg-4">
					<a href="{% url 'index' %}"><img src="{% static 'Img/logo.png' %}" alt="Mis Perris - Inicio"></a>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-4 col-lg-5">
					
				</div>
				<div id="sesion" class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
					<span>
					{% if user.is_authenticated %}
						Bienvenido, {{user.username}} - Cerrar Sesión
					{% else %}
						Registrarse - Iniciar sesión
					{% endif  %}
					
					
					
					
					</span>
				</div>
			</div>
			<div class ="row">
				<div id="links" class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="op col-xs-3 col-sm-3 col-md-3 col-lg-3"> <a href="{% url 'index' %}">Quienes somos</a></div>
					<div class="op col-xs-3 col-sm-3 col-md-3 col-lg-3"> <a href="{% url 'galeria' %}" >Galería</a></div>
					<div class="op col-xs-3 col-sm-3 col-md-3 col-lg-3"> <a href="{% url 'adoptar' %}" >Adopción</a></div>
					<div class="op col-xs-3 col-sm-3 col-md-3 col-lg-3"> <a href="{% url 'contacto' %}" >Contacto</a></div>
				</div>
			</div>

				
			</div>

			{% block header %}{% endblock %}

			
            <section class="row principal middle-xs first-xs" id="contenido">   

{% block content %}{% endblock %}                                          
            </section>

                <!--footer-->                
            <footer class="row">
                <div class="col-xs-12">
                    <div id="footer">
                        <h2>Desarrollo web y mobile</h2>
                    </div>
                </div>
            </footer>            
        </div>                        
    </body>

</HTML>