
/* pa ver los div mejor*/
body {
font-family:Arial;

}

div{
    border: 0
    px black solid;
}

li{
    
        border: 0px black solid;
    
}

nav{
    background-color: #82d6b7;
    width: 100%;
}

#parte_superior{
   margin-left: 0px;
}

#parte_media{
    background-color:#6DCCAA;   
}

#parte_baja{
    background-color:#6DCCAA;   
}
.cuadro{    
    height: auto;
    align-content: center;
    text-align: center;   
}

#links li{
    display: inline;
    padding: 10px;
    color: white;  
    background-color: #82d6b7;    
 
}
#lista_menu{
    background-color:  #82d6b7; 
    width: 100%;
    height: 100%;
    margin-left: 0px;
}

#links {
    text-align: center;
    background-color:  #82d6b7; 
    background-color: #82d6b7;
    margin-bottom: -18px;
}

a{
    color: white;
    text-decoration-line:none;     
}

#logo1{
    width: 60%;
    height: auto;  
    
}


.cuadro_imagen{
    text-align: center;    
    background-color:#6DCCAA; 
}



.cuadro_inferior{
    background-color:#6DCCAA;   
    height: 65px;
    color: white;
  
}


#numero{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;

}

#frase{
    font-size: 20px;
    text-align: center;
}

#redes{
    text-align: center;
    margin-left: -10px;  
}

#redes li{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    
}

#redes li img{
    width: 25px;
}



#footer{
    padding-bottom: 40px;
    font-size: 10px;
}


footer{
	background-color : #E7E7E7;    
    color: black;
    
}



/* estilo de los cuadros*/
.cuadro_izq{
    color:black;
    text-align: right;    
}

.cuadro_izq img{   
    width: 45%;    
}


.cuadro_der{
    color:black;
    text-align: left;
}

.cuadro_der img{    
    width: 45%;    
}
.linea{
    width: 35px;
    color: #71717c;
    height: 1px solid;
}

.cuadro_der hr{
    margin-left: 0px;    
}

.cuadro_izq hr{
    margin-right: 0px;    
}

.boton{
    border: 2px solid black;
    padding: 5px;
    margin: 0px;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    width: 70px;
}

.subtit{
    color: #BEBEBE;
    text-transform: uppercase;
    font-size: 13.5px;    
    margin-top: -20px;
}

.titulo_entrada{
    text-transform: uppercase;
    color: black;
}

#formulario1{
    color: black;    
    margin: 0 auto;
}

#formulario1 input,select,textarea {
    display: grid;
    margin: 5px;
    border-radius: 4px;
}

.combobox{
    width: 95%;
}

#formulario1 input{
    width: 95%;
}

#txtmensaje{
    width:95%;
    height: 20%;
    border: 0px solid #990000;
}

#formulario1{
    margin-top: 20px;
    margin-bottom: 20px;    
    border-radius: 5px;
    text-align: center;
    color: white;
    padding-top: 20px;
}


.sl img{
    position:relative; 
    opacity: 2;   
}

.sl p{
    position:relative; 
    position:absolute;
}

.sl_inferior_izq p{
    top: 50%;
    margin-left:10px; 
}

.sl_superior_der p{
    top: 0%;
    padding-left: 0.6%;
    
}

.sl_white p{
    color: white;  
}

.sl_black p{
    color: black;  
}



/* la galeria*/
.perfil img {
    width: 90%;
    height: 70%;
    padding: 15px;

}

.perfil p{
    width: 90%;
   padding: 15px;   
   
}

perfil div{
    margin: 10px;
}

.perfil{
    display: block;
}

.caja{
    background-image : url("../Img/fond8.jpg");    
    background-size: cover;
}



#btnEnviar{
    background-color: #94949b;
    color: white;
}

<style type="text/css">
          html, body {
            margin: 0;
            padding: 0;
          }
      
          * {
            box-sizing: border-box;
          }
      
          .slider {
              width: 85%;
              margin: 10px auto;
          }
      
          .slick-slide {
            margin: 0px 10px;
          }
      
          .slick-slide img {
            width: 100%;
          }
      
          .slick-prev:before,
          .slick-next:before {
            color: black;
          }
      
      
          .slick-slide {
            transition: all ease-in-out .3s;
            /*opacity: .2;*/
          }
          
          .slick-active {
            /*opacity: .5;*/
          }
      
          .slick-current {
            /*opacity: 1;*/
          }
        </style> 